.block-a {
    width: 100%;
    background-color: white;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 7vh;
    padding-bottom: 7vh;
    display: grid;
    grid-template-columns: 1.3fr 9fr 7fr 1fr;
}


.block-a__col-1 {
    display: flex;
    justify-content: center;
    border: solid 0.5px wheat;
    padding-top: 5vh;
    padding-bottom: 5vh;
}


.block-a__col-2 {
    border: solid 0.5px wheat;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    padding-bottom: 5vh;
}

.block-a__col-3 {
    border: solid 0.5px wheat;
    border-left: none;
    border-right: none;
    padding-top: 10vh;
    padding-bottom: 5vh;
}

.block-a__col-4 {
    border: solid 0.5px wheat;
    border-left: none;
}

.block-a h1 {
    font-size: 40px;
    overflow-y: hidden;
}

.block-a h2 {
    overflow-y: hidden;
    line-height: 30px;
    padding-top: 3vh;
    padding-bottom: 10vh;
    color: rgb(143, 143, 143);
}

.hitler-img-that-bitch {
    height: 350px;
}




@media screen and (max-width: 1250px) {

}

@media screen and (max-width: 768px) {
    .block-a {
        width: 100%;
        background-color: white;
        padding-left: 3vw;
        padding-right: 3vw;
        padding-top: 7vh;
        padding-bottom: 7vh;
        display: grid;
        grid-template-columns: 1.3fr 9fr 7fr 1fr;
    }
    
    
    .block-a__col-1 {
        display: flex;
        justify-content: center;
        border: solid 0.5px wheat;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
    
    
    .block-a__col-2 {
        border: solid 0.5px wheat;
        border-left: none;
        border-right: none;
        display: flex;
        justify-content: center;
        padding-top: 10vh;
        padding-bottom: 5vh;
    }
    
    .block-a__col-3 {
        border: solid 0.5px wheat;
        border-left: none;
        border-right: none;
        padding-top: 10vh;
        padding-bottom: 5vh;
    }
    
    .block-a__col-4 {
        border: solid 0.5px wheat;
        border-left: none;
    }
    
    .block-a h1 {
        font-size: 40px;
        overflow-y: hidden;
    }
    
    .block-a h2 {
        overflow-y: hidden;
        line-height: 30px;
        padding-top: 3vh;
        padding-bottom: 10vh;
        color: rgb(143, 143, 143);
    }
    
    .hitler-img-that-bitch {
        height: 350px;
    }
}
