.block-b {
    width: 100%;
    background-color: #111111;
    display: grid;
    padding-left: 3vw;
    padding-right: 3vw;
    grid-template-columns: 0.7fr 20fr 1.3fr;
}

.block-b * {
    overflow-y: hidden;
}

.block-b h1 {
    font-size: 40px;
    color: ivory;
    padding-top: 10vh;
    padding-bottom: 5vh;
}

.block-b h3 {
    color: ivory;
    font-size: 20px;
}

.block-b__col-2 h4 {
    display: none;
}

.block-b__col-3 {
    border-left: solid 0.5px wheat;   
}

iframe {
    width: 100%;
    border: none;
    outline: none;
    height: 600px;
}

.carousel__card {
    width: 450px;
    background: #242424;
    text-align: center;
    margin-right: 50px;
}

.carousel__card h2 {
    margin: 0;
}

.carousel__header {
    padding-top: 20vh;
    font-family: "Libre Baskerville", sans-serif;
    color: #434343;
}

.carousel__subtext {
    width: 100%;
    font-family: "Libre Baskerville", sans-serif;
    color: #434343;
    text-align: center;
}

.goebbels {
    width: 450px;
}

.carousel-no-bootstrap {
    height: 500px;
}

.carousel__card h2 {
    width: 100%;
}

.carousel__card h3 {
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
}

@media screen and (max-width: 768px) {
    .block-b {
        width: 100%;
        background-color: #161616;
        display: grid;
        padding-left: 3vw;
        padding-right: 3vw;
        grid-template-columns: 0.7fr 20fr 1.3fr;
    }
    
    
    .block-b h1 {
        font-size: 25px;
        padding-left: 5vw;
        font-weight: bold;
        color: wheat;
        padding-top: 5vh;
        padding-bottom: 0;
    }

    .block-b h3 {
        color: ivory;
    }

    .block-b {
        grid-template-columns: none;
    }

    .block-b__col-1 {
        display: none;
    }

    .block-b__col-2 h4 {
        display: inherit;
        color: white;
        font-size: 15px;
        padding: 2vh 5vw 3vh;
        font-family: "Source Serif Pro", sans-serif;
    }


    .block-b__col-3 {
        display: none;
    }

    .carousel__card {
         width: 320px;
         background: #242424;
         text-align: center;
         margin-right: 20px;
     }

    .goebbels {
        width: 320px;
    }

    .carousel-no-bootstrap {
        height: 350px;
    }
    
    iframe {
        width: 100%;
        border: none;
        outline: none;
        height: 440px;
        padding-bottom: 5vh;
    }

    .carousel__header {
        padding-top: 40vh;
        font-family: "Libre Baskerville", sans-serif;
        color: #434343;
    }
    
    .carousel__subtext {
        width: 100%;
        font-family: "Libre Baskerville", sans-serif;
        color: #434343;
        text-align: center;
    }
    
}
