nav {
    height: 8vh;
    width: 100%;
}

.desktop-menu {
    height: 8vh;
    display: grid;
    grid-template-columns: 2fr 7fr 1fr;
}

.logo {
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: none;
}

.logo__image {
    height: 45px;
}


.hero {
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    background: url("../img/stock/campus.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


@media screen and (max-width: 768px) {
    .desktop-menu {
        grid-template-columns: 1.5fr 0.9fr 0.9fr;
    }

    .hero {
        height: 80vh;
        background-position: center;
    }
    
    .logo__image {
        height: 40px;
    }
}
