nav {
    height: 8vh;
    width: 100%;
}

.desktop-menu {
    height: 8vh;
    display: grid;
    grid-template-columns: 7fr 1fr;
}

.logo {
    background-color: rgba(0, 0, 0, 0.3);
}

#hamburger-icon {
    height: 50px;
}

.hamburger-button {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);

    /* Center Hamburger Icon inside div */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hamburger-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}



.hero {
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    background: url("../img/stock/campus.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.block-a {
    height: 700px;
    width: 100%;
    background-color: black;
}

.block-b {
    height: 500px;
    width: 100%;
    background-color: beige;
}

.block-c {
    height: 700px;
    width: 100%;
    background-color: purple;
}

.block-d {
    height: 700px;
    width: 100%;
    background-color: peru;
}

@media screen and (max-width: 768px) {
    .desktop-menu {
        grid-template-columns: 4fr 1fr;
    }

    .hero {
        height: 60vh;
        background-position: center;
    }

    #hamburger-icon {
        height: 35px;
    }
}
