nav {
    width: 100%;
}

.desktop-menu {
    height: 14vh;
    display: grid;
    grid-template-columns: 2.2fr 7fr 1.3fr;
}

.logo {
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: none;
    cursor: pointer;
}

.logo__image {
    height: 60px;
}


.hero {
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    background: url("../img/stock/campus.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1250px) {
    .desktop-menu {
        height: 13vh;
        grid-template-columns: 0.8fr 1fr 0.6fr;
    }
}


@media screen and (max-width: 768px) {
    .desktop-menu {
        height: 9vh;
        grid-template-columns: 1.5fr 0.9fr 0.9fr;
    }

    .hero {
        height: 80vh;
        background-position: center;
    }
    
    .logo__image {
        height: 40px;
    }
}

