nav {
    width: 100%;
}

.desktop-menu {
    height: 14vh;
    display: grid;
    grid-template-columns: 2.2fr 7fr 1.3fr;
}


.logo {
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: none;
    cursor: pointer;
}

.logo__image {
    height: 60px;
}


.hero {
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    background: black;
    /* background: url("../img/stock/campus.png"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.welcome-text {
    width: 100%;
    margin-top: 22vh;
    margin-bottom: 1vh;
    color: rgb(233, 233, 233);
    text-align: center;
    line-height: 65px;
    padding-left: 13vw;
    padding-right: 13vw;
}


.welcome-text h1 {
    font-family: 'Source Serif Pro', sans-serif;
    font-weight: 400;
    overflow-y: hidden;
}

.logo-crest {
    margin-top: 6vh;
    height: 140px;
}
/* TabletView */
@media screen and (max-width: 1250px) {
    .desktop-menu {
        height: 13vh;
        grid-template-columns: 0.8fr 1fr 0.6fr;
    }
    
    .logo-crest {
        margin-top: 4vh;
        height: 120px;
    }

    .welcome-text {
        margin-top: 14vh;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .welcome-text h1 {
        line-height: 65px;
    }
}

/* MobileView */
@media screen and (max-width: 768px) {
    .desktop-menu {
        height: 9vh;
        grid-template-columns: 1.5fr 0.9fr 0.9fr;
    }

    .hero {
        height: 80vh;
        background-position: center;
    }
    
    .logo__image {
        height: 40px;
    }

    .logo-crest {
        margin-top: 3vh;
        height: 75px;
    }

    .welcome-text {
        line-height: 35px;
        margin-top: 17vh;
        padding-left: 4vw;
        padding-right: 4vw;
    }

    .welcome-text h1 {
        line-height: 35px;
    }
}

