nav {
    height: 8vh;
    width: 100%;
}

.desktop-menu {
    height: 8vh;
    display: grid;
    grid-template-columns: 7fr 1fr;
}

.logo {
    background-color: rgba(0, 0, 0, 0.3);
}


.hero {
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    background: url("../img/stock/campus.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


@media screen and (max-width: 768px) {
    .desktop-menu {
        grid-template-columns: 2.5fr 1fr;
    }

    .hero {
        height: 60vh;
        background-position: center;
    }

    #hamburger-icon {
        height: 40px;
    }
}
