/* Hamburger CSS */
#hamburger-icon {
    width: 70px;
}

.hamburger-button {
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
    color: white;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.3);
}

.hamburger-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

/* Slide Menu CSS */
.slide-menu {
    background-color: rgb(44, 44, 44);
    cursor: pointer;

    /* The following CSS enables Full Screen Menu */
    height: 100vh;
    width: 0;
    top: 0;
    right: 0;
    z-index: 7;
    position: absolute;
    /* transform: translateX(100%); */
}

.slide-menu-in {
    /* transform: translateX(0%); */
    width: 100%;
    transition: 0.2s;
}

.slide-menu-out {
    width: 0;
    transition: 0.3s;
}

.slide-menu-nav {
    height: 8vh;
    width: 100%;
    color: wheat;
    background-color: blue;
}


@media screen and (max-width: 768px) {
    #hamburger-icon {
        width: 60px;
    }

    .hamburger-button span {
        display: none;
    }
}
