/* Hamburger CSS */
#hamburger-icon {
    height: 50px;
}

.hamburger-button {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);

    /* Center Hamburger Icon inside div */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hamburger-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

/* Slide Menu CSS */
.slide-menu {
    background-color: rgb(44, 44, 44);
    cursor: pointer;

    /* The following CSS enables Full Screen Menu */
    height: 100vh;
    width: 0;
    top: 0;
    right: 0;
    z-index: 7;
    position: absolute;
    /* transform: translateX(100%); */
}

.slide-menu-in {
    /* transform: translateX(0%); */
    width: 100%;
    transition: 0.2s;
}

.slide-menu-out {
    width: 0;
    transition: 0.3s;
}

.slide-menu-nav {
    height: 8vh;
    width: 100%;
    color: wheat;
    background-color: blue;
}