.slide-menu {
    background-color: rgb(44, 44, 44);
    cursor: pointer;

    /* The following CSS enables Full Screen Menu */
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    position: absolute;
    transform: translateX(100%);
}

.slide-menu-in {
    transform: translateX(0%);
    width: 100%;
    transition: 0.2s;
}

.slide-menu-out {
    transform: translateX(100%);
    transition: 0.3s;
}

.slide-menu-nav {
    height: 8vh;
    width: 100%;
    color: wheat;
    background-color: blue;
}