/* Hamburger CSS */
.hamburger-icon {
    width: 90px;
}

.hamburger-button {
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
    color: white;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0);
}

.hamburger-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

/* Slide Menu CSS */
.slide-menu {
    background: url("../img/stock/grad-min.png");
    background-position: center;
    background-size: cover;

    /* The following CSS enables Full Screen Menu */
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 7;
    position: absolute;
    transform: translateX(100%);
}

.slide-menu-full-width {
    width: 100%;
}

.slide-menu-no-width {
    width: 0;
}

.slide-menu-in {
    transform: translateX(0%);
    transition: 200ms;
}

.slide-menu-out {
    transform: translateX(100%);
    transition: 400ms;
}

.slide-menu__nav {
    height: 14vh;
    display: grid;
    grid-template-columns: 1.3fr 7fr 2.2fr;
}

.slide-menu ul {
    padding-left: 40px;
}

.slide-menu li {
    margin-top: 20px;
    margin-right: 10px;
}

.slide-menu a {
    font-size: 40px;
    font-family: "Libre Baskerville", sans-serif;
    color: white;
}

@media screen and (max-width: 1250px) {
    .slide-menu__nav {
        height: 13vh;
        grid-template-columns: 0.6fr 1fr 0.8fr;
    }
}


@media screen and (max-width: 768px) {

    .hamburger-icon {
        width: 28px;
        content: url("../img/icons/menu-hamburger-alt.svg");
    }

    .hamburger-button span {
        display: none;
    }
    
    .slide-menu {
        background-size: cover;
        background-position: bottom;
    }

    .slide-menu a {
        font-size: 20px;
    }

    .slide-menu__nav {
        height: 9vh;
        grid-template-columns: 0.9fr 0.9fr 1.5fr;
    }
}
