/* Hamburger CSS */
#hamburger-icon {
    width: 70px;
}

.hamburger-button {
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
    color: white;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.3);
}

.hamburger-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

/* Slide Menu CSS */
.slide-menu {
    background-color: rgb(44, 44, 44);
    cursor: pointer;

    /* The following CSS enables Full Screen Menu */
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 7;
    position: absolute;
    transform: translateX(100%);
}

.slide-menu-full-width {
    width: 100%;
}

.slide-menu-no-width {
    width: 0;
}

.slide-menu-in {
    transform: translateX(0%);
    transition: 200ms;
}

.slide-menu-out {
    transform: translateX(100%);
    transition: 400ms;
}

.slide-menu-nav {
    height: 8vh;
    width: 100%;
    color: wheat;
    background-color: blue;
}

.slide-menu ul {
    padding-left: 40px;
}

.slide-menu li {
    margin-top: 20px;
    margin-right: 10px;
}

.slide-menu a {
    font-size: 40px;
    font-family: "Libre Baskerville", sans-serif;
    color: wheat;
}


@media screen and (max-width: 768px) {
    #hamburger-icon {
        margin-top: 10px;
        width: 60px;
    }

    .hamburger-button span {
        display: none;
    }

    .slide-menu a {
        font-size: 20px;
    }
}
