* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
}

html, body {
    overflow-x: hidden;
    background-color: black;
}

/* Removes scrollbar */
::-webkit-scrollbar {
    width: 0px;
}

.block-a {
    height: 700px;
    width: 100%;
    background-color: black;
}

.block-b {
    height: 500px;
    width: 100%;
    background-color: beige;
}

.block-c {
    height: 700px;
    width: 100%;
    background-color: purple;
}

.block-d {
    height: 700px;
    width: 100%;
    background-color: peru;
}

.no-display {
    display: none;
}


h1 {
    font-family: "Libre Baskerville", sans-serif;
}

h2 {
    font-family: "Libre Baskerville", sans-serif;
}

h3 {
    font-family: "Libre Baskerville", sans-serif;
}

footer {
    height: 300px;
    width: 100%;
    background-color: wheat;
}

.center-v-h, .center-h-v {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

@media screen and (max-width: 1250px) {
    .block-a {
        height: 80vh;
    }

    .block-b {
        height: 50vh;
    }

    .block-c {
        height: 70vh;
    }

    .block-d {
        height: 60vh;
    }
}
