* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


html, body {
    width: 100%;
    overflow-x: hidden;
    background-color: black;
}

/* Removes scrollbar */
/*::-webkit-scrollbar {*/
/*    width: 0;*/
/*}*/

.block-b {
    height: 500px;
    width: 100%;
    background-color: beige;
}

.block-c {
    height: 700px;
    width: 100%;
    background-color: purple;
}

.block-d {
    height: 700px;
    width: 100%;
    background-color: peru;
}

.no-display {
    display: none;
}

h1, h2, h3 {
    font-family: "Libre Baskerville", sans-serif;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 20px;
}

h3 {
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

footer {
    height: 300px;
    width: 100%;
    background-color: wheat;
}

.center-v-h, .center-h-v {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

@media screen and (max-width: 1250px) {
    h1 {
        font-family: "Libre Baskerville", sans-serif;
        font-size: 50px;
    }

    .block-b {
        height: 50vh;
    }

    .block-c {
        height: 70vh;
    }

    .block-d {
        height: 60vh;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 30px;
        margin: 0;
    }
}
