* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
}

html, body {
    overflow-x: hidden;
    background-color: rgb(44, 44, 44);
}

*::-webkit-scrollbar {
    width: 0;
}

.no-display {
    display: none;
}


h1 {
    font-family: "Libre Baskerville", sans-serif;
}

h2 {
    font-family: "Libre Baskerville", sans-serif;
}

h3 {
    font-family: "Libre Baskerville", sans-serif;
}
